.catBtn {
    margin: 5px;
}

.button {
    backface-visibility: hidden;
    position: relative;
    cursor: pointer;
    display: inline-block;
    white-space: nowrap;
    background: #fff;
    border-radius: 100px;
    border: 4px solid rgba(8.133698011741274%, 5.805659198569349%, 9.549151020665326%, 0.64);
    border-width: 4px 4px 4px 4px;
    padding: 5px 20px 5px 20px;
    color: #130e0f;
    font-size: 16px;
    font-family: Helvetica Neue;
    font-weight: 900;
    font-style: normal
}

.button:hover{
    background-color: orange;
}

.button>.ld {
    font-size: initial
}
